* {
  margin: 0;
  padding: 0;
  font-family: MyFont, Calibri, sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url(./font/Champagne/Champagne\ &\ Limousines.ttf);
}

#root {
  height: 100vh;
}

body {
  background-color: rgb(0, 0, 0);
}

.lottery-container {
  background-position: center;
  background-size: 100% 100%;
}

.draw-button {
  width: 16rem;
  height: 4rem;
  font-weight: 900 !important;
}

.winner-list-button,
.reset-button {
  font-weight: 900 !important;
}

.text-randomizer {
  color: white;
  font-size: 5rem;
  font-weight: 550 !important;
  letter-spacing: 0.5;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-randomizer-name {
  color: white;
  font-size: 6rem;
  font-weight: 650 !important;
  letter-spacing: 0.5rem;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border-radius-button {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.ttt {
  border: 1px red solid;
}
